<%= form_for(@ad) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url, "Odnosnik (z http://)" %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :image_url, "Wgraj zdjęcie" %><br />
    <%= f.filepicker_field :image_url %> <br />
  </div>
  <div class="field">
    <%= f.label :name, "Nazwa" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Zatwierdź" %>
  </div>
<% end %>
