<div class="container top">
    <section id="top-news">
      <div class="shadow-top"></div>
      <div class="fotos-topnews">
        <%= image_tag 'top-foto.jpg', size: '949x346'  %>
      </div>
      <div class="content-news">
        <h2><%= @latest_news.title %></h2>
        <p>
          <%= strip_tags(@latest_news.body).truncate(610) %>
        </p>
        <a href="<%= refinery.news_item_path(@latest_news) %>" class="more shadow"><%= t('news.more') %></a>
      </div>
    </section> 
   </div>
   <div class="container">
    <div id="col-center">
    
      <section id="events">
        <h2>WYDARZYŁO SIĘ</h2>
        <div class="key-events">
          <div class="foto-events">
            <%= image_tag 'wydarzenia-foto.jpg', size: '573x118', alt: 'Wydzarzenie' %> 
          </div>
          <ul>
            <% @previous_events.each_with_index do |event, i| %>
              <li><a href="<%= events_event_path(event) %>"><%= i+1 %>. <%= event.name %></a></li>
            <% end %>
          </ul>
        </div>
         <%= link_to 'Zobacz wszystkie', events_events_path, :class => [:more, :shadow] %>
      </section>

      <section id="news">
        <%= render @news %>
        <div class="all-news"><a href="<%= refinery.news_items_path %>" class="more shadow"><%= t('news.see_all') %></a></div>
      </section>

    </div>
    <div id="col-right">
      <%= render '/refinery/events/events/promoted' %>
      
      <section id="today">
        <h2>Dzisiaj</h2>
        <%= link_to 'Zobacz wszystkie', events_events_path, :class => [:more, :shadow] %>
        <ul id="today-see">
          <%= render :partial => '/refinery/events/events/side_event', :collection => @side_events %>
        </ul>
      </section>
      
      <aside id="newsletter">
        <h5>Newsletter</h5>
        <p>
          Chcesz otrzymywać najnowsze informacje z naszego do-
mu kultury? Wpisz Twój e-mail i kliknij „Zapisz”.
        </p>
        <form class="newsletter" method="post" action="/newsletter">
          <section>
            <input type="text" id="email" /> 
            <input type="submit" id="zapisz" value="Zapisz" class="button newsletter" />
          </section>
        
        </form>
      </aside>
      
      
<!--         <div class="box-calendar">
          <a href="#"><%= image_tag 'kalendarium.jpg', size: '348x208', alt: 'Kalendarium imprez MDK' %></a>
        </div> -->
        <%= render :partial => '/refinery/events/events/calendar' %>
      </aside>
      
    </div>
  </div>


