<section class="news">

  <div class="box-news">
    <h5><%= item.title %></h5>
    <div class="center-news">
      <%= image_tag item.images.first.thumbnail("154x99#c").url unless item.images.empty? %>
      <p>
        <%= raw item.body %>
      </p>
    </div>
    <div class="bottom-news">
      <a href="<%= refinery.news_item_path(item) %>" class="more shadow"><%= t('news.more') %></a>
    </div>
  </div>
  <%= will_paginate @items %>
</section>
