<% content_for :body_content_title, @item.title %>
<% content_for :title, @item.title %>
<% content_for :body do %>
  <article class="news_item">
    <% if @item.source.present? %>
      <p>
        <small><%= t('.source') %> <%= @item.source %></small>
      </p>
    <% end %>
    <%= @item.body.html_safe %>
  </article>
  <ul id='gallery'>
    <% @item.images.each do |i| %>
      <li>
        <%= link_to image_tag(i.thumbnail("200x200#c").url), i.thumbnail("900x600").url, class: :fresco, data: {'fresco-group' => 'group'}  %>
      </li>
   <% end %>
  </ul>
<% end %>

<%= render "/refinery/content_page" %>