<!doctype html>
<html>
<%= render 'refinery/head' %>

<body>
<!--panele-->
<aside id="sidebar">
  <aside id="facebook">
    <a href="http://www.facebook.com/" class="fb"></a>
  </aside>
  <aside id="twitter">
    <a href="http://twitter.com" class="twitter"></a>
  </aside>
  <aside id="youtube">
    <a href="http://youtube.com" class="youtube"></a>
  </aside>
  <aside id="bip">
    <a href="http://www.bip.radomsko.pl/index.jsp?bipkod=/002/012" class="bip"></a>
  </aside>
  <aside id="projekty">
    <a href="/projekty" class="projects"></a>
  </aside>
</aside>

<!--HEADER-->
<header>
  <div class="container">
    <div id="top">
      <h1><a href="/" title="MIEJSKI DOM KULTURY W RADOMSKU">MDK</a></h1>
      <aside id="slogan">
        <h6>z pasją dla kultury - kultura z pasją</h6>
        <h4>MIEJSKI DOM KULTURY W RADOMSKU</h4>
      </aside>
    </div>
    <%= render :partial => "/refinery/menu" %>
  </div>
</header>

<!--CONTENT-->
<div id="content">
  <%= yield %>
</div>

<!--FOOTER-->
<footer>
  <aside>
    <div class="container">
      <p class="title">Partnerzy i sponsorzy:</p>
      <div class="box-partners_sponsors">
        <div class="marquee">
          <% 7.times do |i| %>
            <%= image_tag "partner#{i+1}.jpg" %>
          <% end %>
        </div>
      </div>
    </div>

  </aside>
  <div class="container">
    <section id="footer">
      <div class="copy-realization">
        <p class="copy">
          Copyrights 2013 by Miejski Dom Kultury w Radomsku. All Rights Reserved.</p>
        <p class="realization">Projekt i Realizacja: <a href="http://kampanieSEO.pl">KampanieSEO.pl</a></p>
      </div>
    </section>
  </div>
</footer>

<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<%= render 'refinery/javascripts' %>
<script>
  <% if @event %>
    window.event_type = '<%= @event.type.name.downcase %>';
  <% else %>
    window.event_type = '<%= params[:type] %>';
  <% end %>
</script>
<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46143238-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</body>


</html>
